<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>书籍列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1>这就是全部书籍！</h1>
<a href="/add_book/">添加书籍</a>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>书名</th>
        <th>出版社</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for book in book_list %}
        <tr>
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.publisher.name }}</td>
        <td><a href="/delete_book/?id={{ book.id }}">删除</a></td>
        <td><a href="/edit_book/?id={{ book.id }}">修改</a></td>
        </tr>
    {% endfor %}

    </tbody>
</table>
</body>
</html>