<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑书籍</title>
</head>
<body>
<h1>编辑书籍</h1>
<form action="/edit_book/" method="post">
    <input type="text" style="display: none" name="id" value="{{ edit_obj.id }}">
    <p>书名：
        <input type="text" name="book_title" value="{{ edit_obj.title }}">
    </p>
    <p>出版社名称：
        <select name="publisher">
            {% for publisher in all_publisher %}
                {% if edit_obj.publisher.id == publisher.id %}
                    <option selected value="{{ publisher.id }}">{{ publisher.name }}</option>
                {% else %}
                    <option value="{{ publisher.id }}">{{ publisher.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </p>
    <p>
        <input type="submit" value="提交">
    </p>
</form>

</body>
</html>